# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Android
**/android/**/generated/
**/android/gen/
**/android/out/
*.jks
*.keystore
key.properties

# iOS
*.xcworkspace
/*/Flutter/Generated.xcconfig
/*/Flutter/flutter_export_environment.sh
/*/ServiceDefinitions.json
Runner/Flavor.xcconfig

# Web
node_modules/
.pnpm-debug.log*

# IDEs
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Logs
*.log

# OS
.DS_Store

# Firebase (Opcional: puedes ignorar las opciones si contienen secretos sensibles)
# lib/firebase_options.dart

# SharedPreferences / Local data
*.db