# Copy this file to key.properties and fill with your signing info
# Generate a keystore with: keytool -genkey -v -keystore upload-keystore.jks -keyalg RSA -keysize 2048 -validity 10000 -alias upload
storeFile=upload-keystore.jks
storePassword=your_store_password
keyAlias=upload
keyPassword=your_key_password
